body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  /* Disable horizontal scrolling */
}

.container-flex {
  flex-grow: 1;
}

header {
  height: 60px;
}

footer {
  height: 30px;
}

#main {
  height: calc(100vh - 60px - 40px);
  overflow-y: hidden;
  overflow-x: hidden;
  /* Add this to enable vertical scrolling if the content overflows */
}


#map {
  width: 100%;
  aspect-ratio: 7/3;
  margin: 30px;
}

#heatmap {
  margin: 25px;
  width: 100%;
}

#skymap {
  aspect-ratio: 1;
  margin-top: 20px;
}

#sun {
  fill: #F7DC6F;
  font-size: larger;
}

#sun:hover {
  font-size: xx-large;
}

#moon {
  fill: #99A3A4;
  font-size: normal;
}

#moon:hover {
  font-size: x-large;
}

#mercury {
  fill: #D98880;
  font-size: larger;
}

#mercury:hover {
  font-size: xx-large;
}

#venus {
  fill: #AF7AC5;
  font-size: larger;
}

#venus:hover {
  font-size: xx-large;
}

#mars {
  fill: #EC7063;
  font-size: larger;
}

#mars:hover {
  font-size: xx-large;
}

#jupiter {
  fill: #E59866;
  font-size: larger;
}

#jupiter:hover {
  font-size: xx-large;
}

#saturn {
  fill: #F8C471;
  font-size: larger;
}

#saturn:hover {
  font-size: xx-large;
}

#uranus {
  fill: #5DADE2;
  font-size: larger;
}

#uranus:hover {
  font-size: xx-large;
}

#neptune {
  fill: #48C9B0;
  font-size: larger;
}

#neptune:hover {
  font-size: xx-large;
}

.direction-label {
  text-anchor: middle;
  dominant-baseline: middle;
  font-size: larger;
}


.astro-object-position {
  fill: #dadada;
  stroke: none;
  r: 3;
}

.astro-object-position:hover {
  r: 5;
}

.astro-object-label {
  fill: #dadada;
  stroke: none;
  font-size: normal;
  font-weight: 400;
}

.astro-object-label:hover {
  fill: #dadada;
  stroke: none;
  font-size: x-large;
  font-weight: 700;
}

.text {
  font-family: monospace;
}

.hovertip {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  visibility: hidden;
  width: auto;
  font-size: small;
}

.skymap-container {
  position: relative;
}

.skymap-container svg {
  width: 100%;
  height: 100%;
}


.sky-circle {
  fill: #2B3644;
  stroke: none;
}

.orientation-line,
.inner-orientation-circle,
.outer-orientation-circle {
  fill: none;
  stroke: #c98493;
}

.selected {
  stroke: #000000;
  stroke-width: 2px;
}

.outer-orientation-circle {
  stroke-dasharray: 2;
}


.line-label {
  font-size: xx-small;
  fill: #c98493
}

.orientation-circle {
  fill: none;
}

.slider-container {
  position: absolute;
  bottom: 200px;
}

.slider {
  height: 20px;
  appearance: none;
  background: #ddd;
  border-radius: 5px;
  outline: none;
}

.slider::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background: #555;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #555;
  border-radius: 50%;
  cursor: pointer;
}

.slider-label {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}